<a href="https://colab.research.google.com/github/gpaldtya2002/Data-Structure-1---List/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Data Structure 1 - List**
**Learning:** How to use list, add, delete and search in the list.

**Note:** Read more about list and try yourself

---
### **1. List Declaration**

In [1]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
print ("Number of elements in list: ", len(L))

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Number of elements in list:  4

---
### **2. List Iteration using While Loop**
---

In [2]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
i=0
while i < len(L):
	print (L[i])
	i+=1

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

**bold text**---
### **3. List Iteration using for loop**
---

In [3]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
for i in range(0, len(L)):
	print (L[i])

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

---
### **4. List Iteration using for loop**
---

In [4]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List --> ", L)
for s in L:
	print (s)

Original List -->  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

---
### **5. Adding and deleting from list**
---

In [5]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List       --> ", L)

L.append("Rahul")
print ("List After Adding   --> ", L)
print("Rahul" in L)
L.insert(2,"Shayam")              # to insert at a desired index
print(L)
for i in range(len(L)):           # to find index of value
  if L[i]=="Rahul":
    print(i)
    break
del L[1]
print ("List After Deleting --> ", L)

Original List       -->  ['Pratham', 'Sharma', 3.14, 3]
List After Adding   -->  ['Pratham', 'Sharma', 3.14, 3, 'Rahul']
True
['Pratham', 'Sharma', 'Shayam', 3.14, 3, 'Rahul']
5
List After Deleting -->  ['Pratham', 'Shayam', 3.14, 3, 'Rahul']

---
### **6. Sum/Average of List**
---

In [6]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("Sum     --> ", sum(L))
print ("Average --> ", sum(L)/len(L))
print ("Average --> ", sum(L)//len(L))

print ("L * 3   --> ", L * 3)     # Every element get tripled
print ("L + L   --> ", L + L)     # Every element get doubled

Original List -->  [3, 6, 9, 12, 5, 3, 2]
Sum     -->  40
Average -->  5.714285714285714
Average -->  5
L * 3   -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]
L + L   -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]

---
### **7. Min/Max/Sort the list**
---

In [7]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("max --> ", max(L))
print ("min --> ", min(L))

print ("\nBefore Sort            --> ", L)
L.sort()

print ("After Sort (Asending)  --> ", L)

L.sort(reverse=True)
print ("After Sort (Desending) --> ", L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
max -->  12
min -->  2

Before Sort            -->  [3, 6, 9, 12, 5, 3, 2]
After Sort (Asending)  -->  [2, 3, 3, 5, 6, 9, 12]
After Sort (Desending) -->  [12, 9, 6, 5, 3, 3, 2]

---
### **8. Merge lists and select elements**
---

In [8]:
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]
L3 = L1 + L2
print ("L1 --> ",L1)
print ("L2 --> ",L2)
print ("L3 --> ",L3)

print ("\nL3[2:]  --> ",L3[2:])
print ("L3[2:5] --> ",L3[2:5])
print ("L3[:-1] --> ",L3[:-1])
print ("L3[::2] --> ",L3[::3])
print("L3[::-1] -->", L3[::-1])

L1 -->  [3, 6, 9]
L2 -->  [12, 5, 3, 2]
L3 -->  [3, 6, 9, 12, 5, 3, 2]

L3[2:]  -->  [9, 12, 5, 3, 2]
L3[2:5] -->  [9, 12, 5]
L3[:-1] -->  [3, 6, 9, 12, 5, 3]
L3[::2] -->  [3, 12, 2]
L3[::-1] --> [2, 3, 5, 12, 9, 6, 3]

---
### **9. Multiply all elements of the list by a constant**
---

In [9]:
L = [12, 5, 3, 2, 7]
print ("Original List --> ", L)

L = [ i * 5 for i in L ]
print ("After Multiply with constant --> ", L)

Original List -->  [12, 5, 3, 2, 7]
After Multiply with constant -->  [60, 25, 15, 10, 35]

---
### **10. Searching in the list**
---

In [10]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", 6 in L)
print ("Original List --> ", 10 in L)
print ("Original List --> ", 12 in L)
print(type(L))
if (6 in L) == True:
	print ("Present")
else:
	print ("Not Present")

if 10 in L == False:
	print ("Not Present")
else:
	print ("Present")

Original List -->  True
Original List -->  False
Original List -->  True
<class 'list'>
Present
Present